version: '3.8'

services:
  mysql_db:
    image: mysql:8.0
    container_name: mysql_db_container
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_PASSWORD:-root}
      MYSQL_DATABASE: OAuth_demo
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - app_network
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5

  server:
    build: ./server
    container_name: server_container
    ports:
      - "5000:5000"
    environment:
      MYSQL_PASSWORD: ${MYSQL_PASSWORD:-root}
      DB_HOST: mysql_db
      PORT: 5000
    depends_on:
      mysql_db:
        condition: service_healthy
    networks:
      - app_network

  client:
    build: ./client
    container_name: client_container
    ports:
      - "5173:5173"
    environment:
      - VITE_API_URL=http://localhost:5000
    depends_on:
      - server
    networks:
      - app_network

volumes:
  db_data:

networks:
  app_network:
    driver: bridge
