# Dependency files
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# Environment/Secrets
.env
*.env

# Test & coverage
coverage/
.env.test
*.test.js
*.spec.js

# Build artefacts
dist/
build/
*.log

# Git & misc
.git
.gitignore
Dockerfile
docker-compose.yml
*.md
*.txt

# OS & IDE files
.DS_Store
Thumbs.db